h1{
    text-align: center;
}

h2 {
    color: blue;
}

.one{
    list-style: none;
}

.error{
    color: red;
}

body {

    margin: 2%;
    padding: 0.5%;
    background-color: darksalmon;
    font-size: 18px;
}

